* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  max-width: 1000px;
  margin: auto;
  border: 1px outset grey;
  font-family: sans-serif;
  /* border-right: 1px outset grey; */
}

aside {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border-right: 1px solid grey;
  text-align: center;
  max-width: 250px;
}

main {
  flex-basis: 70%;
  flex-grow: 1;
  padding: 1rem;
}

a {
  text-decoration: none;
}

p.mainNav__header {
  font-weight: 700;
}
/* Selektor 'a + b' - dla b znajdującego się po a */
ul + p.mainNav__header {
  padding-top: 0.5rem;
  border-top: 1px solid grey;
}

p.mainNav__header + ul {
  list-style: none;
}

p.mainNav__header + ul li a {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0.15rem 0;
  font-size: 0.9em;
}

a.button {
  padding: 0.25rem 0.5rem;
  background-color: #ddd;
  color: black;
  border: 2px outset grey;
}

.tables {
  display: flex;
  flex-wrap: wrap;
}

.table {
  width: 5rem;
  margin: 1rem;
  padding: 0.2rem;
  border: 1px solid black;
  background-color: #eee;
  aspect-ratio: 1;
  position: relative;
  color: black;
  transition: 0.3s;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.table:hover {
  background-color: #ddd;
  color: #222;
}

.table.is_occupied {
  background-color: green;
  color: white;
}

.table.is_occupied:hover {
  background-color: rgb(48, 138, 48);
}

.table span {
  font-size: 0.9em;
  width: 50%;
}
.table span:nth-child(2) {
  text-align: right;
}

.new-dish {
  margin: auto;
}

.new-dish-label {
  display: block;
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
}

.new-dish-table {
  background-color: white;
}

.new-dish-table tr {
  background-color: white;
  margin: 5px;
}

.new-dish-table td {
  padding: 5px;
}

.new-dish-table input,
.new-dish-table textarea {
  font-size: 16px;
  width: 100%;
}

.new-dish-table button {
  width: 100%;
}

.dishes-container {
  background: white;
}

.dishes-container-nav {
  position: sticky;
  top: 40px;
  background-color: white;
  border: 1px solid lightgray;
  padding: 20px;
  z-index: 1;
}

.dishes-container-nav ul {
  display: inline;
}

.dishes-container-nav li {
  display: inline;
  margin-right: 10px;
}

.dishes-container-section {
  scroll-margin-block-start: 100px;
  background-color: rgb(255, 255, 240);
  text-align: center;
}

.dishes-container-section h3 {
  text-align: center;
  padding: 10px;
  margin: auto;
  font-size: 1.5rem;
}

.dishes-container-ul {
  list-style: none;
}

.dishes-container-li {
  list-style: none;
  display: inline;
  text-align: left;
}

.dishes-container-meal {
  position: relative;
  display: inline-block;
  background-color: #fff;
  margin: 10px;
  height: 400px;
  width: 320px;
  padding: 10px;
  box-shadow: 0px 0px 3px gray;
  transition: 0.3s;
  font-style: 1.5rem;
}

.dishes-container-meal h4,
.dishes-container-meal p {
  padding: 5px;
  margin-bottom: 15px;
  height: 40px;
}

.dishes-container-desc {
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dishes-container-meal a {
  position: absolute;
  width: 50%;
  top: 80%;
  left: 50%;
  transform: translate(-50%, 0%);
  padding: 5px;
  text-align: center;
  border-radius: 10px;
  background-color: lightgrey;
  color: black;
  transition: 0.5s;
}

.dishes-container-meal a:hover {
  background-color: gray;
}

.dishes-container-meal:hover {
  box-shadow: 0px 0px 5px gray;
}

.order-details {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 80%;
  left: 0;
}

.order-details span {
  font-size: 1.4rem;
  width: 30px;
  padding: 5px;
  transition: 0.3s;
}

.new-order-button {
  float: right;
}

.minus-order-button,
.add-to-order-button {
  border: transparent;
  border-radius: 10px;
  padding: 5px;
  color: black;
  background-color: #f44336;
  width: 50px;
  height: 45px;
  font-size: 1.3em;
  transition: 0.5s;
}

.add-to-order-button {
  width: 70px;
  background-color: #4caf50;
}

.add-to-order-button:hover {
  background-color: #369439;
  box-shadow: 0px, 0px, 15px #4caf50;
}

.confirm-visible {
  visibility: visible;
}

.confirm-hidden {
  visibility: hidden;
}

.confirm-message {
  position: fixed;
  background: white;
  border: 1px solid black;
  top: 50%;
  left: 50%;
  transform: translate(-25%, -50%);
  width: 500px;
  height: 300px;
  z-index: 11;
}

.confirm-message h3,
.confirm-message input {
  text-align: center;
  margin-top: 50px;
  font-size: 1.5rem;
}
.confirm-message input {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.blurred {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: 10;
  background-color: #fff;
  opacity: 0.8;
}
